@import "tailwindcss" layer(tailwind);

@theme {
	--breakpoint-sm: 640px;
	--breakpoint-md: 768px;
	--breakpoint-lg: 1024px;
	--breakpoint-xl: 1280px;
	--breakpoint-2xl: 1440px;
	--animate-cat-come: catCome 5s ease;
	--animate-cat-come-opacity: catComeOpacity 1s ease 4s forwards;

	@keyframes catCome {
		0% {
			transform: translateX(0px) rotate(0deg);
			height: 200px;
			width: 200px;
		}
		10% {
			transform: translateX(-150px) rotate(-90deg);
			height: 200px;
			width: 200px;
		}
		30%{
			transform: translateX(-350px) translateY(100px) rotate(-180deg);
			height: 200px;
			width: 200px;
		}
		50%{
			transform: translateX(-500px) translateY(100px) rotate(0deg);
			height: 200px;
			width: 200px;
		}
		100% {
			transform: translateX(0px);
			height: 800px;
			width: 800px;
		}
	}

	@keyframes catComeOpacity {
		0% {
			opacity: 100;
		}
		100% {
			opacity: 0;
		}
	}
}	


@utility link {
	@apply flex px-4 py-2 text-lg font-medium bg-black/75 hover:bg-gray-700 text-white hover:text-blue-400 transition-all w-max rounded-[4px];
}
@utility layout_style {
	@apply container mx-auto grid grid-cols-[100%] min-h-screen;
}